<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pokemon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{104,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,130},{104,98}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>pokemon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{133,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,0},{133,220}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>pokemon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{164,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,106},{164,111}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>pokemon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,112},{67,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{95,140},{67,90}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>pokemon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,0},{89,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,118},{89,111}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>